<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<th:block id="header" th:fragment="layout-header">
		<div class="content">
			<div class="title">社員管理システム</div>
			<div th:if="${session.user != null}" class="user_info">
				<!-- ログイン中のユーザ名の表示をこの下に記述してください -->
				<!-- この<span>ってなに？　なんでこのタグの中に文字が入ってたんの？-->
				ようこそ、<span >####</span>さん
				<!-- 一旦これで対応　（値を別のところから引っ張ってくること自体のテストをしたいため）
				本当はユーザ名と対応したユーザIDを改めて引っ張ってくる方が確実だと思う-->
				<p>User ID: （ログイン時に入力されたユーザID） </p>
				 
				<span class="pipeline">|</span><a th:href="@{/logout}">ログアウト</a>
			</div>
		</div>
	</th:block>
</body>

</html>