<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
	<title>社員一覧 | 社員管理システム</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="admin user_list">
	<div class="header-box"></div>
	<h3>社員管理</h3>

	<!-- セッション中にユーザ情報が存在する場合のみ以下の処理を実行する。 -->
	<!-- なお、セッション中のユーザ情報がない（null）の場合、-->
	<!-- フィルターの処理により、当該Thymeleaf処理完了後にログイン画面にリダイレクトする。 -->
	<!--　　　↓コメントアウトした。タブスイッチ追加。-->
	<div class="tab-switch">

		<label><input type="radio" name="TAB" checked class="radio">社員一覧</label>
		<div class=tab-content>
			<th:block th:if="${#lists.isEmpty(emp)}">
				<div class="message">
					<p class="back_to_top_message">該当する社員が存在しません。</p>
					<p class="back_to_top_link"><a th:href="@{/list}">一覧表示に戻る</a></p>
				</div>
			</th:block>

			<table class="list_table" th:if="${!(#lists.isEmpty(emp))}">
				<tr>
					<th class="empId">社員ID</th>
					<th class="empName">社員名</th>
					<th class="gender">性別</th>
					<th class="address">住所</th>
					<th class="birthday">生年月日</th>
					<th class="authority">権限</th>
					<th class="deptName">部署名</th>
				</tr>
				<tr th:each="employee:${emp}">
					<td th:text="${employee.empId}"></td>
					<td th:text="${employee.empName}"></td>
					<td th:switch="${employee.gender}">
						<span th:case="1">男性</span>
						<span th:case="2">女性</span>
					</td>
					<td th:text="${employee.address}"></td>
					<td th:text="${#dates.format(employee.birthday, 'yyyy/MM/dd')}"></td>
					<td th:switch="${employee.authority}">
						<span th:case="1">一般</span>
						<span th:case="2">管理者</span>
					</td>

					<td th:text="${employee.department.deptName}"></td>
				</tr>
				</tr>
			</table>
		</div>


		<label><input type="radio" name="TAB" class="radio">検索</label>
		<div class"tab-content">
			<aside th:fragment="layout-sidebar"
				th:class="${session.user == null or session.user.authority == 1} ? ${'search'} : ${'admin_menu'}">
				<div class="title">社員名検索</div>

				<div class="form">
					<form th:action="@{/list/empName}" , method="get">
						<input type="text" name="empName" placeholder="名前を入力">
						<input type="submit" value="検索" />
					</form>

				</div>
			</aside>
		</div>


		<label><input type="radio" name="TAB" class="radio">登録</label>
		<div class"tab-content">
		<a th:href="@{/regist/input}">新規社員登録</a>
		</div>
	
	



	<label><input type="radio" name="TAB" class="radio">削除</label>
	<div class"tab-content">
		<a th:href="@{/delete/input}">社員削除</a>
	</div>
	
	<div class="form">
			<form th:action="@{/update/input}", method="post">
				<input type="text" name="empId" />
				
				<input type="submit" value="検索" />
			</form>
	</div>

	</div>


	<!--ここまで　追加した。以下適当にコメントアウトした。-->


	<!--    <div class="regist_link">-->
	<!--		<a th:href="@{/regist/input}">新規社員登録</a>-->
	<!--	</div>-->

	<!--	<th:block th:if="${#lists.isEmpty(emp)}">-->
	<!--		<div class="message">-->
	<!--			以下に該当する社員が存在しないときのメッセージを記述する -->
	<!--			<p class="back_to_top_message">該当する社員が存在しません。</p>-->
	<!--			以下に一覧表示に戻るリンクを記述する -->
	<!--			<p class="back_to_top_link"><a th:href="@{/list}">一覧表示に戻る</a></p>-->
	<!--		</div>-->
	<!--	</th:block>-->
	<!--	<table class="list_table" th:if="${!(#lists.isEmpty(emp))}">-->
	<!--		<tr>-->
	<!--			<th class="empId">社員ID</th>-->
	<!--			<th class="empName">社員名</th>-->
	<!--			<th class="gender">性別</th>-->
	<!--			<th class="address">住所</th>-->
	<!--			<th class="birthday">生年月日</th>-->
	<!--			<th class="authority">権限</th>-->
	<!--			<th class="deptName">部署名</th>-->
	<!--		</tr>-->
	<!--		<tr th:each="employee:${emp}">-->
	<!--			<td th:text="${employee.empId}"></td>-->
	<!--			<td th:text="${employee.empName}"></td>-->
	<!--			<td th:switch="${employee.gender}">-->
	<!--				<span th:case="1">男性</span>-->
	<!--				<span th:case="2">女性</span>-->
	<!--			</td>-->
	<!--			<td th:text="${employee.address}"></td>-->
	<!--			<td th:text="${#dates.format(employee.birthday, 'yyyy/MM/dd')}"></td>-->
	<!--			<td th:switch="${employee.authority}">-->
	<!--				<span th:case="1">一般</span>-->
	<!--				<span th:case="2">管理者</span>-->
	<!--			</td>-->

	<!--			<td th:text="${employee.department.deptName}"></td>-->
	<!--		</tr>-->

	<!--		</tr>-->
	<!--				 ***####を書き換え、社員情報を全件出力する ここまで*** -->
	<!--	</table>-->
	<!--		 ***検索結果がある場合 ここまで*** -->

</body>

</html>