<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
	<title>社員一覧 | 社員管理システム</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="admin user_list">
	<div class="header-box"></div>
	<h3>社員管理</h3>

	<!-- セッション中にユーザ情報が存在する場合のみ以下の処理を実行する。 -->
	<!-- なお、セッション中のユーザ情報がない（null）の場合、-->
	<!-- フィルターの処理により、当該Thymeleaf処理完了後にログイン画面にリダイレクトする。 -->
	<!--　　　↓コメントアウトした。タブスイッチ追加。-->

	<th:block th:if="${#lists.isEmpty(emp)}">
		<div class="message">
			<p class="back_to_top_message">該当する社員が存在しません。</p>
		</div>
	</th:block>

	<th:block th:unless="${#lists.isEmpty(emp)}">
		<table class="list_table">
			<tr>
				<th class="empId">社員ID</th>
				<th class="empName">社員名</th>
				<th class="gender">性別</th>
				<th class="address">住所</th>
				<th class="birthday">生年月日</th>
				<th class="authority">権限</th>
				<th class="deptName">部署名</th>
				<!--					<th >顔</th>-->
			</tr>
			<tr th:each="employee:${emp}">
				<td th:text="${employee.empId}"></td>
				<td th:text="${employee.empName}"></td>
				<td th:switch="${employee.gender}">
					<span th:case="1">男性</span>
					<span th:case="2">女性</span>
				</td>
				<td th:text="${employee.address}"></td>
				<td th:text="${#dates.format(employee.birthday, 'yyyy/MM/dd')}"></td>
				<td th:switch="${employee.authority}">
					<span th:case="1">一般</span>
					<span th:case="2">管理者</span>
				</td>
				<td th:text="${employee.department.deptName}"></td>

			</tr>
			</tr>
		</table>
	</th:block>
	</div>






	<form th:action="@{/menu}">
		<div class="form">
			<div class="label"></div>
			<div class="input">
				　　　　　　　　　　<input type="submit" value="メニューに戻る" />
			</div>
		</div>
	</form>


<!--			<label><input type="radio" name="TAB" class="radio">検索</label>-->
<!--			<div class"tab-content">-->
<!--				<aside th:fragment="layout-sidebar"-->
<!--					th:class="${session.user == null or session.user.authority == 1} ? ${'search'} : ${'admin_menu'}">-->
<!--					<div class="title">社員名検索</div>-->

<!--			<th:block th:if="${session.user.authority == 2}">-->

<!--				<label><input type="radio" name="TAB" class="radio">登録</label>-->
<!--				<div class"tab-content">-->
<!--					<div class="title">管理者ツール</div>-->
<!--					<a th:href="@{/regist/input}">新規社員登録</a>-->
<!--				</div>-->



<!--				<label><input type="radio" name="TAB" class="radio">削除</label>-->
<!--				<div class"tab-content">-->
<!--					<div class="title">管理者ツール</div>-->
<!--					<a th:href="@{/delete/input}">社員削除</a>-->
<!--				</div>-->


<!--				<label><input type="radio" name="TAB" class="radio">登録内容変更</label>-->
<!--				<div class"tab-content">-->
<!--					<div class="title">管理者ツール</div>-->
<!--					<a th:href="@{/update/manage2}">登録内容変更</a>-->
<!--				</div>-->
<!--			</th:block>-->
<!--		</div>-->


</body>

</html>