@charset "UTF-8";

/* ---- 画面の大枠のレイアウト用CSS ---- */

/* ---- 共通 ---- */
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 920px;
	margin-left: auto;
	margin-right: auto;
}

.login {
	width: 100%;
}

/* ---- ヘッダー ---- */
.header-box {
	height: 60px;
}

header {
	height: 60px;
	width: 100%;
	background-color: #87CEEB;
	padding-top: 10px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	justify-content: space-between;



}

/* ゲーミングモードを解放したい場合はコメントアウトした文のコメントを外してください
　後にアプリ内にゲーミングモードON/OFFを実装予定*/

header .title {
	font-family: "HGP創英角ﾎﾟｯﾌﾟ体";
	margin-left: 10px;
	line-height: 45px;
	font-size: 25pt;
	background: linear-gradient(to left, #e60000, #f39800, #fff100, #009944, #0068b7, #1d2088, #920783);
	background-size: 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px black;
	animation: 5s title linear infinite;

}

@keyframes title {
	100% {
		background-position: 200%;
	}
}

@keyframes title2 {
	100% {
		background-position: -200%;
	}
}

header .user_info {
	margin-right: 30px;
	line-height: 20px;
	text-align: right;
}



/* ---- サイドバー ---- */
aside {
	width: 300px;
	padding-left: 200px;
}



aside .title {
	background-color: #add8e6;
	margin: 5px 0px 10px 10px;
	padding: 3px;
	font-weight: bold;
}

aside .form {
	padding-left: 15px;
}

aside input[type=text] {
	width: 170px;
	height: 30px;
	margin-right: 10px;
}

aside select {
	margin: 0px 10px 0px 0px;
	vertical-align: middle;
	width: 110px;
}

aside input[type=submit] {
	width: 50px;
	height: 30px;
	margin-right: 5px;
}


aside2 {
	width: 260px;
}



aside2 .title {
	background-color: #add8e6;
	margin: 5px 0px 10px 10px;
	padding: 3px;
	font-weight: bold;
}

aside2 .form {
	padding-left: 15px;
}

aside2 input[type=text] {
	width: 170px;
	height: 30px;
	margin-right: 10px;
}

aside2 select {
	margin: 0px 10px 0px 0px;
	vertical-align: middle;
	width: 110px;
}

aside2 input[type=submit] {
	width: 50px;
	height: 30px;
	margin-right: 5px;
}


/* ---- メイン ---- */
article {

	width: 700px;
	position: fixed;
	padding-left: auto;
	padding-right: auto;

}

.spece {
	padding-left: 160px;

}

.spe {
	padding-left: 280px;
}

.tai {
	text-decoration: none;
}

.sss {
	font-size: 100px;
	text-align: center;
}



/* ---- フッター ---- */
footer {
	height: 30px;
	width: 100%;
	background-color: #87CEEB;
	text-align: center;
	font-size: 8pt;
	line-height: 30px;
	position: fixed;
	bottom: 0;
}

/*---- 追加した ----*/
.tab-switch {
	--active-tab-color: #757F96;
	/*選択したタブの色*/
	display: flex;
	/* タブを横並びに */
	flex-wrap: wrap;
	/* 幅に応じて折り返し */
	max-width: 500px;
	/* コンテナの最大幅を指定 */
	margin: auto;
	/* コンテナの中央寄せ */
	justify-content: center;
	/* タブの中央寄せ */
	gap: 10px 5px;
	/* タブ間の余白 */
}

/* 各タブボタンのスタイル設定 */
.tab-switch>label {
	flex: 1 1 auto;
	/* タブが均等に幅をとるが、幅を超えると折り返す */
	order: -1;
	/* コンテンツより上に表示 */
	position: relative;
	/* ::beforeの絶対位置指定に使用 */
	padding: .7em 1em;
	/* タブの内側余白 */
	border-bottom: 1px solid var(--active-tab-color);
	/* タブの下線 */
	color: var(--active-tab-color);
	/* タブの文字色 */
	text-align: center;
	/* テキストを中央揃え */
	cursor: pointer;
	/* ホバー時にポインター表示 */
	transition: .3s all;
	/*変化を滑らかに*/
}

/* タブのホバーおよび選択時の色 */
.tab-switch>label:hover,
.tab-switch label:has(:checked) {
	background-color: var(--active-tab-color);
	/* ホバー/選択時の背景色 */
	color: #fff;
	/* ホバー/選択時の文字色 */
}

/* 選択されたタブの下に表示される三角形のスタイル */
.tab-switch label:has(:checked)::before {
	position: absolute;
	/* 三角形をタブ内の特定位置に配置 */
	bottom: -8px;
	/* 三角形をタブの下に表示 */
	left: 50%;
	/* 中央寄せ */
	transform: translateX(-50%);
	/* 三角形の中央揃え調整 */
	width: 18px;
	/* 三角形の幅 */
	height: 9px;
	/* 三角形の高さ */
	background-color: var(--active-tab-color);
	/* 三角形の背景色 */
	content: '';
	/* 擬似要素の内容（空） */
	clip-path: polygon(0 0, 100% 0, 50% 100%);
	/* 三角形の形状を作成 */
}

/* ラジオボタンの非表示設定 */
.radio {
	display: none;
	/*実際のラジオボタンは非表示 */
}

/* タブのコンテンツエリアの設定 */
.tab-switch>div {
	display: none;
	/* 初期状態では非表示 */
	width: 100%;
	/* コンテンツ幅を全体に設定 */
	padding: 1.5em 1em;
	/* 内側余白 */
}

/* 選択されたタブに対応するコンテンツを表示 */
.tab-switch label:has(:checked)+div {
	display: block;
	/* 選択されたタブの内容を表示 */
}


/*ここから*/
/* 基礎部分 */
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin: 0;
	padding: 0;
}

/*a {*/
/*	text-decoration: none;*/
/*}*/

a,
a:visited {
	color: inherit;
}

/* メニューの色 */
.a {
	background: #B384FF;
}

.b {
	background: #FF82B2;
}

.c {
	background: #78FF94;
}

.d {
	background:  #DBFF71;
}

/* ナビゲーションの大きさ */
#header-nav {
	width: 700px;
	margin: auto;
}

/* カラム落ちの防止 */
.header-list {
	font-size: 0;
}

/* メインメニュー */
.menu-item {
	display: inline-block;
	width: 22%;
	position: relative;
	text-align: center;

}

.menu-item a {
	font-family: "HGP創英角ﾎﾟｯﾌﾟ体";
	margin-left: 10px;
	line-height: 45px;
	font-size: 16pt;
	background: linear-gradient(to left, #e60000, #f39800, #fff100, #009944, #0068b7, #1d2088, #920783);
	background-size: 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke:0.5px black;
	animation: 3s title2 linear infinite;	

}

/* サブメニュー */
.sub-menu {
	position: absolute;
	width: 100%;
	top: 50px;
}

.sub-menu-item {
	overflow: hidden;
	opacity: 0;
	height: 0;
	/*   サブメニューが出現する速度の調整 */
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

/* メインメニューマウスカーソルが乗ったらサブメニューを出現させる */
.menu-item:hover>.sub-menu>.sub-menu-item {
	overflow: visible;
	opacity: 1;
	height: 50px;
}