<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
	<title>会員登録入力 | シェアードショップ</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="admin user_regist_input_admin">
	<div class="header-box"></div>
	<h3>部署登録・変更画面</h3>
	<div class="tab-switch">
		<!--	  class名とボタンの変更は行なわないこと。-->
		<label><input type="radio" name="TAB" checked class="radio">登録</label>
		<div class"tab-content">
			<div class="title">部署名登録</div>
			<div class="dept">
				<form th:action="@{/dept/dept/input}" method="post" th:object="${deptForm}">

					<div class="form">
						<div class="label">部署ID：</div>
						<div class="input">
							<input type="text" th:field="*{deptId}" placeholder="登録したい部署IDを入力" />
							<div th:text="${messege}"></div>
						</div>
					</div>

					<div class="form">
						<div class="label">部署名：</div>
						<div class="input">
							<input type="text" th:field="*{deptName}" placeholder="登録したい部署名を入力" />
							<br>
							<input type="submit" value="送信" />
						</div>
					</div>
				</form>

			</div>
		</div>
		<label><input type="radio" name="TAB" class="radio">変更</label>
		<div class"tab-content">
			<div class="title">部署名変更</div>
			<div class="dept">
				<form th:action="@{/dept/dept/update}" method="post" th:object="${deptForm}">

					<div class="form">
						<div class="label">部署ID：</div>
						<div class="input">
							<input type="text" th:field="*{deptId}" placeholder="変更したい部署IDを入力" />
						</div>
					</div>
					<div class="form">
						<div class="label">部署名：</div>
						<div class="input">
							<input type="text" th:field="*{deptName}" placeholder="変更したい部署名を入力" />
							<br>
							<input type="submit" value="送信" />
						</div>
					</div>

				</form>

			</div>
		</div>
		<table class="dept_table">
			<tr>
				<th class="deptId">部署ID</th>
				<th class="deptName">部署名</th>
			</tr>
			<tr th:each="dept:${deptall}">
				<td th:text="${dept.deptId}"></td>
				<td th:text="${dept.deptName}"></td>
			</tr>
		</table>

	</div>
</body>

</html>