<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
	<title>会員登録入力 | シェアードショップ</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="admin user_regist_input_admin">
	<div class="header-box"></div>
	<h3>社員登録入力画面</h3>
	<!--	  class名とボタンの変更は行なわないこと。-->
	<div class="update">
		<form th:action="@{/regist/check}" method="post" th:object="${employeeForm}">

			<div class="form">                      
				<div class="label">パスワード：</div>
				<div class="input">
					<input type="password" th:field="*{empPass}" placeholder="パスワードを入力" />
					<span th:errors="*{empPass}"></span>
				</div>
			</div>
			<div class="form">
				<div class="label">社員名：</div>
				<div class="input">
					<input type="text" th:field="*{empName}" placeholder="山田太郎" />
					<span th:errors="*{empName}"></span>
				</div>
			</div>
			<div class="form">
				<div class="label">性別：</div>
				<div class="input">
					<input type="radio" th:field="*{gender}" value="1" />男性&nbsp;
					<input type="radio" th:field="*{gender}" value="2" />女性
				</div>
			</div>
			<div class="form">
				<div class="label">住所：</div>
				<div class="input">
					<input type="text" th:field="*{address}" placeholder="東京都" />
					<span th:errors="*{address}"></span>
				</div>
			</div>
			<div class="form">
				<div class="label">生年月日：</div>
				<div class="input">
					<input type="text" th:field="*{birthday}" placeholder="2000/01/01" /> (YYYY/MM/DD)
					<span th:errors="*{birthday}"></span>
				</div>
			</div>
			<div class="form">
				<div class="label">権限：</div>
				<div class="input">
					<input type="radio" th:field="*{authority}" value="1" />一般&nbsp;&nbsp;
					<input type="radio" th:field="*{authority}" value="2" />管理者
				</div>


			</div>

			<div class="form">
				<div class="label">部署名：</div>
				<div class="input">
				<!-- 今までだと、
					<select th:field="*{deptId}">
						<option value="1">営業部</option>
						<option value="2">経理部</option>
						<option value="3">総務部</option>
					</select>
					としてたけど、これだと新しく登録した部署や、名前を変更した部署が反映されない
					そのため、そうした変更が柔軟に反映されるように下の記述に変更
					-->
					<select th:field="*{deptId}">
						<option  th:each="department : ${dept}" th:value="${department.deptId}"><span th:text="${department.deptName}"></span></option>
					</select>
				</div>
			</div>
			<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="submit" value="登録" />
				</div>
			</div>
		</form>
		<form th:action="@{/regist/input}">
			<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="submit" value="リセット" />
				</div>
			</div>
		</form>
		<form th:action="@{/menu}">
			<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="submit" value="メニューに戻る" />
				</div>
			</div>
		</form>
	</div>
</body>

</html>