<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title>社員削除画面</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="admin user_list">
	<div class="header-box"></div>
	<h3>社員の削除</h3>

	<form method="post" th:action="@{/delete/comp}" 
	onsubmit="confirmSubmission(event)">
		　　　　　　社員ID：<input type="text" name="empId" placeholder="IDを入力" required/>
		<input type="submit" value="削除する" />
	</form>

	<script>
		function confirmSubmission(event) {
			const userConfirmed = confirm("おぉ、辞めてしまうとは情けない。\n本当に削除しますか？");
			if (!userConfirmed) {
				event.preventDefault();
			}
		}
	</script>

	<br>

	<table class="list_table">

		<tr>
			<th class="empId">社員ID</th>
			<th class="empName">社員名</th>
			<th class="gender">性別</th>
			<th class="address">住所</th>
			<th class="birthday">生年月日</th>
			<th class="authority">権限</th>
			<th class="deptName">部署名</th>
<!--			<th >顔</th>-->
		</tr>
		<tr th:each="employee:${emp}">
			<td th:text="${employee.empId}"></td>
			<td th:text="${employee.empName}"></td>
			<td th:switch="${employee.gender}">
				<span th:case="1">男性</span>
				<span th:case="2">女性</span>
			</td>
			<td th:text="${employee.address}"></td>
			<td th:text="${#dates.format(employee.birthday, 'yyyy/MM/dd')}"></td>
			<td th:switch="${employee.authority}">
				<span th:case="1">一般</span>
				<span th:case="2">管理者</span>
			</td>
			<td th:text="${employee.department.deptName}"></td>
			
<!--			<td th:switch="${employee.empId%8}">-->
<!--				<span th:case="0"><a th:href="@{/img/santaisyou.jpg}"><img th:src="@{/img/santaisyou.jpg}"width="90" ></a></span>-->
<!--				<span th:case="1"><a th:href="@{/img/俺.jpg}"><img th:src="@{/img/俺.jpg}" width="90"></a></span>-->
<!--				<span th:case="2"><a th:href="@{/img/rukaku.gif}"><img th:src="@{/img/rukaku.gif}" width="90"></a></span>-->
<!--				<span th:case="3"><a th:href="@{/img/R.gif}"><img th:src="@{/img/R.gif}"width="90" ></a></span>-->
<!--				<span th:case="4"><a th:href="@{/img/原田.jpg}"><img th:src="@{/img/原田.jpg}"width="90" ></a></span>-->
<!--				<span th:case="5"><a th:href="@{/img/th.gif}"><img th:src="@{/img/th.gif}"width="90" ></a></span>-->
<!--				<span th:case="6"><a th:href="@{/img/man.jpg}"><img th:src="@{/img/man.jpg}" width="90"></a></span>-->
<!--				<span th:case="7"><a th:href="@{/img/man2.jpg}"><img th:src="@{/img/man2.jpg}"width="90" ></a></span>-->
<!--				<span th:case="8"><a th:href="@{/img/man3.jpg}"><img th:src="@{/img/man3.jpg}" width="90"></a></span>-->
<!--			</td>-->
		</tr>
		</tr>
	</table>

<form th:action="@{/menu}">
		<div class="form">
			<div class="label"></div>
			<div class="input">
				　　　　　　　　　　<input type="submit" value="メニューに戻る" />
			</div>
		</div>
	</form>


</body>

</html>